<div class="funk-img">
 <%= image_tag "Funk.png", width: "200"%></div>
<div class="saison-img">
 <%= image_tag "Saison.png", width: "200"%></div>

<div class="welcome">
 <h4>
 <br><br><br><i class="em em-christmas_tree"></i> <i class="em em-snowman"></i> Specialty Craft Beers - Hat3 - The Winter Collection <i class="em em-snowman"></i> <i class="em em-christmas_tree"></i></h4><br>
 <h4><i class="em em-snowflake"></i> Select an option below to get started! <i class="em em-snowflake"></i></h4><br><br>

 <div class="logo-img">
   <%= image_tag "CapLawLogo.png"%></div>
 
 <div class="hat3-img">
 <%= image_tag "Hat3.jpg", width: "156"%></div>

   <center><div class="home-user-btns">
     <%= link_to 'Yes, I am over 21', users_path, class: 'btn btn-info' %>
     <%= link_to 'No, I am not over 21', 'https://www.buzzfeed.com/thenewschool/21-things-to-do-under-21-in-nyc-ymfe?utm_term=.weKA0o5kWG#.bbKy3o6bVQ', class: 'btn btn-info'%>
   </div>
   <div class="HomeBeer-img"></div>
   <div class="welcome-img"></div>
   <div class="shadow"></div>
</div>
<!-- <div class="UsersSnow-img"><div> -->