<div class="wrap cf">
  <h1 class="projTitle">Shopping Cart</h1>
  <div class="heading cf">
    <h1>My Cart</h1>
    <%= link_to 'Continue Shopping', store_index_path, :class => 'continue' %>
  </div>
<% @cart.line_items.each do |item| %>
  <div class="cart">
      <ul class="cartWrap">
        <li class="items odd">
          <div class="infoWrap">
            <div class="cartSection">
              <%= image_tag item.beer.photo.url(:medium), class: "itemImg" %>
              <p class="itemNumber"></p>
              <h3><%= item.beer.name %></h3>
              <p>
                <%= item.quantity %>&times;
                <%= number_to_currency(item.total_price) %>
              </p>
            </div>
            <div class="prodTotal cartSection">
              <p><%= item.beer.price6 %></p>
            </div>

          </div>
        </li>
      </ul>
    </div>
<% end %>

  <div class="subtotal cf">
    <ul style="deco">
      <li class="totalRow final">
        <span class="label">Total</span><span class="value"><%= number_to_currency(@cart.total_price) %></span></li>
      <li class="totalRow">
        <%= button_to "Checkout", new_order_path, method: :get, :class => 'btn continue' %>
      </li>
    </ul>
  </div>
</div>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?', :class => 'btn-emptycart' } %>
